@import "./reset.scss";

body {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px 1fr 1fr 50px;
}

header,
footer {
  grid-column: 1 / -1;
}

.under-nav {
  grid-column: 1 / 2;
}

.center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 2;
  grid-row: 2 / -2;
}

.orders,
.reservations,
.nav {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.orders,
.reservations {
  grid-column: -2 / -1;
}

.orders {
  grid-row-start: 2;
}
