@import "./reset.scss";

$borderColor: rgba(0, 0, 0, 0.4);
$backgroundColor: #f4f4fc;
$borderWidth: 2px;

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr;
  // 만약 아래 이미지에 높이 값을 설정하면 이미지가 늘어나거나 줄어들 때 레이아웃이 깨질 수 있음.
  // 그리고 이미지 높이에 따라 스크롤을 하는 경우도 발생.
  // 높이들을 세세하게 설정할 필요가 없음.
}

.header {
  .header__nav {
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
      background-color: $borderColor;
      gap: $borderWidth;

      .header__tab {
        padding: 30px 0;
        background-color: white;
        text-align: center;
        font-weight: 300;
        font-size: 14px;

        &:nth-child(6) {
          font-weight: bold;
          font-size: 22px;
          text-transform: uppercase;
        }
      }
    }
  }

  .header__breadcrumbs {
    border-bottom: $borderWidth solid $borderColor;
    border-top: $borderWidth solid $borderColor;
    padding: 10px 0;
    padding-left: 50px;
    font-size: 12px;

    .header__crumb {
      font-weight: 500;
      &:last-child {
        opacity: 0.5;
      }
    }
  }
}

.product {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  background-color: $borderColor;
  gap: $borderWidth;

  .product__img {
    background-image: url("https://source.unsplash.com/random");
    background-size: cover; // 반복되는 이미지를 제거하기 위해
  }

  .product__info {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    gap: $borderWidth;

    .product__header {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 50px;
      font-weight: 500;
      text-transform: uppercase;
      gap: 20px;

      .product__category {
        font-size: 22px;
      }

      .product__title {
        font-size: 44px;
      }

      .product__add-to-cart {
        display: flex;
        gap: 60px;
        margin-top: 30px;

        .product__qty {
          font-size: 36px;
          display: flex;
          gap: 10px;

          .product__minus {
            opacity: 0.6;
          }
        }

        .product__price {
          font-size: 36px;
        }
      }
    }
  }

  .product__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $borderWidth;

    & > div {
      background-color: white;
    }

    .product__description p {
      width: 70%;
      font-size: 14px;
      padding: 25px 0px;
      margin: 0 auto;
    }

    .product__faq {
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .product__question {
        border-bottom: $borderWidth solid $borderColor;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 10px;
      }
    }
  }
}
